{% extends "base.html" %}

{% block content %}

<p>
        <a class="btn btn-primary" style="position:absolute;left:1160px;top:578px;height:40px;" href="/">Главная страница</a>
    </p>

<form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.file.label }}<br>
            {{ form.file(class="form-control") }}<br>
            {% for error in form.file.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.name_location.label }}<br>
            {{ form.name_location(class="form-control") }}<br>
            {% for error in form.name_location.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
    <h8>Название города</h8>
    {{form.city(list="id_datalist")}}
<datalist id="id_datalist" >
{% for entry in entries %}
<option value="{{ entry }}" itemscope="itemscope">

{% endfor %}
</datalist>
    <br>
    <br>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(class="form-control") }}<br>
            {% for error in form.about.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>


  </form>

{% endblock %}
