{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/profile" style="position:absolute;left:1109px;top:97px;width:179px;height:46px;line-height:17px;z-index:1;">{{ current_user.name }}</a>
    {% if current_user.name_image == None %}
        <div id="wb_Image1" style="position:absolute;left:1108px;top:12px;width:104px;height:86px;z-index:2;">
            <img src="static/img/None_prof.png" id="Image1" alt="" width="73" height="73"></div>
    {% else %}
        <div id="wb_Image2" style="position:absolute;left:1108px;top:12px;width:104px;height:86px;z-index:2;">
            <img src="{{ url_for('static', filename=current_user.name_image) }}" id="Image2" alt="" width="73" height="73"></div>

    {% endif %}
{% else %}
    <p>
        <a class="btn btn-primary " href="/registration">Зарегистрироваться</a>
        <a class="btn btn-success" href="/entrance">Войти</a>
    </p>

{% endif %}

<input style="position:absolute;left:332px;top:178px;width:600px;height:40px;z-index:5;">
<p>
    <a class="btn btn-success" style="position:absolute;left:960px;top:178px;height:40px;" href="/search">Поиск</a>
</p>
{% if current_user.is_authenticated %}
    <p>
         <a class="btn btn-success" style="position:absolute;left:620px;top:258px;height:40px;" href="/add_location">Добавить</a>
    </p>
{% endif %}

<br>
    <table style="position:absolute;left:260px;top:378px;height:140px;width:100;text-align: left; width: 914px; height: 80px;" border="0"
           cellpadding="2" cellspacing="2">
        <tbody>
        <tr>
            <td
                    style="vertical-align: top; background-color: rgb(204, 204, 204); width: 321px;"><strong
                    style="color: rgb(77, 77, 77); font-family: &quot;YS Text&quot;,system-ui,-apple-system,&quot;Segoe UI&quot;,Roboto,Ubuntu,Cantarell,&quot;Noto Sans&quot;,sans-serif; font-size: 14px; font-style: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;">Название
                места</strong></td>
            <td
                    style="vertical-align: top; background-color: rgb(204, 204, 204); width: 217px;"><strong
                    style="color: rgb(77, 77, 77); font-family: &quot;YS Text&quot;,system-ui,-apple-system,&quot;Segoe UI&quot;,Roboto,Ubuntu,Cantarell,&quot;Noto Sans&quot;,sans-serif; font-size: 14px; font-style: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px;">Город</strong></td>
        </tr>
        {% for elem in data_locations %}
        <tr>
            <td
                    style="vertical-align: top; width: 321px; height: 35px; background-color: rgb(204, 204, 255);"><a href="/search">
                {{ elem.name }}</a><br>
            </td>
            <td
                    style="vertical-align: top; width: 217px; height: 35px; background-color: rgb(224, 204, 255);"> {{ elem.city.name }} <br>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
<br>


{% endblock %}
