{% extends "base.html" %}

{% block content %}


{% if current_user.is_authenticated %}
<form method="post" enctype="multipart/form-data">
    {% if name_image == None %}

        <div id="wb_Image1" style="position:absolute;left:658px;top:122px;width:104px;height:86px;z-index:2;">
            <img src="{{url_for('static', filename='img/None_prof.png')}}" id="Image1" alt="" width="200" height="200"></div>
    {% else %}
        <div id="wb_Image2" style="position:absolute;left:658px;top:122px;width:104px;height:86px;z-index:2;">
            <img src="{{ url_for('static', filename=name_image) }}" id="Image2" alt="" width="200" height="200"></div>
    {% endif %}
    <div class="form-group" style="position:absolute;left:658px;width:450px;top:352px;">
            <label for="photo">Изменить фотографию</label>
            <input type="file" class="form-control-file" id="photo" name="file">
    </div>
    <button type="submit" style="position:absolute;left:658px;top:422px;" class="btn btn-primary">Изменить</button>

    <a href="/to_change_profile" class="btn btn-warning">
            Назад
        </a>

</form>
{% endif %}

{% endblock %}
